
    canvas {
      position: absolute;
      width: 100%;
    }

    .title{
      margin-left: 20%;
      margin-top: 10%;
      position: absolute; 
      color: rgba(170, 156, 156, 0.356);
      font-family: 'Codystar', cursive;
      font-size: 25px;
    }

    .letra1:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra2:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra3:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra4:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra5:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra6:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra7:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra7:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra8:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra9:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra10:hover {
      color: rgb(123, 175, 199);;
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra11:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }
    
    .letra12:hover {
      color: rgb(123, 175, 199);
      font-size: 60px;
      transition-duration: .3s;
    }

    .letra13:hover {
      color: rgb(153, 0, 255);
      font-size: 60px;
      transition-duration: 1s;
    }

    body{
      background: rgb(0, 0, 0)
    }
 
    nav {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: rgb(29, 28, 28);
      box-shadow: 0px 0px 5px 0px rgb(174, 0, 255);
      display: flex;
      flex-direction: column;
             
   }

    nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: space-around;
      flex: 9;
      padding: 15px;
   }
    nav li {
      text-align: center;
   }
    nav a {
      text-decoration: none;
      display: block;
      color: #555353;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.3s linear;
      text-align: center;
   }
    nav a:hover {
      color: rgb(153, 0, 255);
      font-size: 25px;
   }
    
   @media (max-width: 992px) {
    
    nav a {
      font-size: 8px;
   }

   .title{
     font-size: 8px;
   }

   nav a:hover {
    color: rgb(153, 0, 255);
    font-size: 10px;
 }

 
 .letra1:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra2:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra3:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra4:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra5:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra6:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra7:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra7:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra8:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra9:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra10:hover {
  color: rgb(123, 175, 199);;
  font-size: 12px;
  transition-duration: .3s;
}

.letra11:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra12:hover {
  color: rgb(123, 175, 199);
  font-size: 12px;
  transition-duration: .3s;
}

.letra13{
  color: black;
}

  }